/* ===========================================
================ Testtimonial ================  
=========================================== */
#testimonial-carousel .item{
    padding: 10px;
    opacity: 0.8;
}
#testimonial-carousel .owl-item.active.center .item{
    opacity: 1 !important;
    transform: scale(1.05);
}
.photo-img{
    position: relative;
    overflow: hidden;
}
.photo-img img{
    filter: brightness(80%);
}

/* .photo-icon{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    
} */
.photo-textarea{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
    transition: .5s all ease;
}
.photo-details{
    opacity: 0;
    transition: .5s all ease;
}
.photo-icon{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
}
.photo-icon a{
    color: #fff;
}
.photo-textarea a{
    color: #000;
    background-color: #fff;
}
.photo-img:hover .photo-textarea{
    top: 50%;
}
.photo-img:hover .photo-details{
    opacity: 1;
}
@media only screen and (max-width:407px){
    .photo-heading h1{
        font-size: 25px;
    }
    .photo-details p{
        display: none;
    }
}
@media only screen and (min-width:768), (max-width:991px){
    .photo-heading h1{
        font-size: 25px;
    }
    .photo-details p{
        font-size: 13px;
    }
}